# Databases & Artifacts
*.duckdb
*.duckdb*
*.bak

# Locks
*.lock

# Python Cache & Envs
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Logs
*.log

# Generated outputs
derived_levels/
data/

# Environments & Secrets
.env
config.json

# IDE & Editor
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db